<h1>Hi {{currentUser.firstName}} {{currentUser.lastName}}!</h1>
<p>You're logged in with Angular 8!!</p>
<h3>All registered users:</h3>
<table cellpadding="12">
  <tr>
    <th>UserName</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Features</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.username}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>
      <div class="btn-outline-danger">
        <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
      </div>
    </td>
  </tr>
</table>
